h1 {
    text-align: center;
    font-family: monospace;
    font-size:100px;
}
body {
    background-color: rgb(9, 46, 9);
}
p {
    text-align: center;
    font-family: cursive;
    font-size: 50px;
}
img {
    width: 500px;
}
.BISCUIT {
    float: left;
}
.BUDDY {
    float: right;
}
.ELVIS {
    text-align: center;
    border-style: groove;
    border-color: blue;
border-width: 30px;
}
.center-image {
  display: block;
  margin: 0 auto; /* centers horizontally */
  clear: both;
}
